
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    
}
nav{
    background-color: #1D1D1F;
    position: sticky;
    height: 100px;
    width: 100%;
    top: 0;
    color: white;

}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    height: inherit;
    /* flex-wrap: wrap; */
    /* align-items: center; */

}